.main-container {
  padding: 1vh 1vw 1vh 1vw;
  background-color: aliceblue;
  height: 90vh;
  // display: flex;
  justify-content: space-around;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.spacer {
  flex: 1 1 auto;
}

form {
  display: flex;
  justify-content: space-between;
}
